<footer id="footer"  class="text-center" style="background-image: url({{@blog.cover}})" >
    <div class="container">
        {{> social-links}}
        <p class="copy-text">
        	Copyright &copy; 2017  <a href="/">Hanson.Io</a> &bull; That is, I placed the content in the web browser and hit publish. Enjoy, share and attribute. 
        </p>
        <p class="copy-text">
            <strong>Disclaimer: </strong> Opinions expressed here are my own and may not reflect those of my clients, employers, people I work with, my family, my kids, the Pope, the President 
             or that one guy I talked code with in the elevator last Wednesday.  
             
             They are definitely not the views of my dog; unless I am talking about running through the woods, chasing a tennis ball, swimming or consuming copious amounts of raw meat (preferably squirrel). In that case, she definitely agrees with me. 
        </p>
        <p class="copy-text">
            I don't release "real" code to production without having somebody else TEST IT and <strong>YOU SHOULD TEST TOO</strong>. Especially any code on this site because I did once create a bug that went all the way to production. 
        </p>
    </div>
</footer>
