{{! Dark social icons }}
<ul class="social-icons">
    <li>
        <a class="fa fa-twitter" href="https://twitter.com/andrewhanson"></a>
    </li>
    <li>
        <a class="fa fa-facebook" href="https://www.facebook.com/theandrewhanson"></a>
    </li>
    <li>
        <a class="fa fa-google-plus" href="https://plus.google.com/+andrewhanson"></a>
    </li>
    <li>
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/andrewhanson"></a>
    </li>
    {{!--<li>
        <a class="fa fa-youtube" href="https://www.youtube.com/user/hansondotio"></a>
    </li>--}}
    <li>
        <a class="fa fa-rss" href="/rss"></a>
    </li>
</ul>
